body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    display: flex;
    width: 500px;
    height: 700px;
    padding: 20px;
    flex-direction: column;
    gap: 20px;
    box-shadow: 1px 3px 5px black;
    border-radius: 20px;
}

.display{
    background-color: black;
    width: 500px;
    height: 150px;
    border-radius: 20px;
    box-shadow: 2px 3px 5px black;
    display: flex;
    justify-content: end;
}

.teclas{
    display: flex;
    background-color: rgb(219, 219, 219);
    width: 500px;
    height: 550px;
    border-radius: 10px;
    box-shadow: 2px 3px 5px black;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.teclas button{
    width: 100px;
    height: 100px;
    border-radius: 20px;
    border: none;
    box-shadow: 1px 3px 5px black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    transition: 
        transform 0.1s ease,
        box-shadow 0.1s ease;
    cursor: pointer;
}

.laranja{
    background-color: orange;
}

button:active{
    transform: scale(0.95);
    box-shadow: 0px 1px 2px gray;
}

.number{
    margin-top: 10px;
    margin-right: 10px;
    height: 120px;
    min-width: 400px;
    background-color: black;
    color: rgb(1, 255, 1);
    border: none;
    cursor: default;
    outline: none;
    text-align: end;
    font-size: 80px;
}